<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{$meta_title}|产品详情页面</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/module.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/blue_color.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/index.css">
    <link href="__PUBLIC__/mall/css/product.css" rel="Stylesheet"/>
    <link href="__PUBLIC__/mall/css/product_right_detail.css" rel="Stylesheet"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <!--<![endif]-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
    <style>
        .hidden{
            display:none;
        }

    </style>
</head>
<body>
<div class="head"></div>
<!--固定的浮动栏-->


<!-- 头部 -->
<div class="header">
    <!-- Logo -->
    <span class="logo_1"></span>
    <!-- /Logo -->

    <!-- 主导航 -->
    <ul class="main-nav">
        <volist name="__MENU__.main" id="menu">
            <li class="{$menu.class|default=''}"><a href="{$menu.url|U}">{$menu.title}</a></li>
        </volist>
    </ul>
    <!-- /主导航 -->

    <!-- 用户栏 -->
    <div class="user-bar">
        <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
        <ul class="nav-list user-menu hidden">
            <li class="manager">你好，<em title="{:session('user_auth.username')}">{:session('user_auth.username')}</em>
            </li>
            <li><a href="{:U('User/updatePassword')}">修改密码</a></li>
            <li><a href="{:U('User/updateNickname')}">修改昵称</a></li>
            <li><a href="{:U('Public/logout')}">退出</a></li>
        </ul>
    </div>
    <div class="main-nav" style="float: right;margin-right: 30px;position: relative;"><a href="{:U('Shop/shopcart')}">购物车</a></div>
</div>
<!-- /头部 -->
<!-- 内容区 -->
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
    <div id="main" class="main">
        <block name="nav">
            <!-- nav -->
            <notempty name="_show_nav">
                <div class="breadcrumb">
                    <span>您的位置:</span>
                    <assign name="i" value="1"/>
                    <foreach name="_nav" item="v" key="k">
                        <if condition="$i eq count($_nav)">
                            <span>{$v}</span>
                            <else/>
                            <span><a href="{$k}">{$v}</a>&gt;</span>
                        </if>
                        <assign name="i" value="$i+1"/>
                    </foreach>
                </div>
            </notempty>
            <!-- nav -->
        </block>

        <block name="body"></block>
    </div>
</div>

<block name="script"></block>
</body>
</html>


<block name="sidebar"></block>

<block name="style">
    <style>
        body {
            padding: 0
        }
    </style>
</block>

<block name="body">
    <div id="indexMain" class="index-main">
        <!--主体内容! -->
        <div id="main" class="clear">
            <!--产品的类别导航路径-->
            <div class="bread-crumb">
                <volist name="_class" id="vo" key="k">
                        <if condition="$k eq 1"><b>{$vo.name}</b></if>
                    <span>&gt;</span>
                    <volist name="vo['class']" id="list">
                        {$list.name}
                    </volist>
                </volist>

            </div>

            <div class="out_three">
                <h2>商品展示</h2>
                <ul class="haohuo_list clear">
                    <notempty name="_list">
                        <volist name="_list" id="vo">
                            <li>
                                <a href="{:U('Shop/index?id='.$vo['id'])}">
                                    <dd><img src="{$vo.thumb}" alt="" style="width: 220px;height: 220px;"></dd>
                                    <dt>
                                    <p>{$vo.title}</p>
                                    <p class="haohuo_price">￥{$vo.unit_price}</p>
                                    </dt>
                                </a>
                            </li>
                        </volist>
                        <else/>
                        <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
                    </notempty>
                </ul>
                <div class="page">
                    {$_page}
                </div>
            </div>

        </div>
    </div>


    <link href="__PUBLIC__/kefu/css/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="__PUBLIC__/kefu/js/jquery-1.8.3.min.js"></script>
    <script>
        /*---------返回顶部----------*/
        $(function() {
            $(".btn_top").hide();
            $(".btn_top").live("click",function(){
                $('html, body').animate({scrollTop: 0},300);return false;
            })
            $(window).bind('scroll resize',function(){
                if($(window).scrollTop()<=300){
                    $(".btn_top").hide();
                }else{
                    $(".btn_top").show();
                }
            })
        })


        $(".user-entrance").hover(function(){
            $(".user-entrance").next().removeClass("hidden");
        },function(){
            $(".user-menu").hover(function(){
                $(".user-menu").removeClass("hidden");
            },function(){
                $(".user-menu").addClass("hidden");
            })
            $(".user-entrance").next().addClass("hidden");
        });

        /*---------返回顶部 end----------*/
    </script>


    <!--qq聊天代码部分begin-->
    <div class="izl-rmenu">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=959941555&site=qq&menu=yes" id="udesk-feedback-tab1"       class="udesk-feedback-tab-left" style="display: block; background-color: black;"></a>

        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=41113347&site=qq&menu=yes" class="consult2"  id="udesk-feedback-tab2" ></a>
        <a class="consult" target="_blank">
            <div class="phone" style="display:none;">400-8828-206</div>
        </a>
        <a class="cart"><div class="pic"></div></a>
        <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
    </div>

    <!--qq聊天代码部分end-->
</block>