*{
	padding:0px;
	margin:0;
	list-style:none;
}
body
{
	/*font-size:12px;*/
	font-family: Tahoma;
	color: #666;
}
a
{
	text-decoration:none;
	color:#666;
}
.clear:after{
	content:'';
	display:block;
	visibility: hidden;
	height:0;
	clear:both;
}
.wrapper,.header_logo,#all_product
{
	width:1200px;
	margin:0 auto;
}
header{
	border-bottom:1px solid #ccc;
}
#header_link
{
	
	width:1200px;
	height:40px;
	line-height:40px;
	margin:0 auto;
}
#h_l_zhu a
{
	color:#0066cc;
}
#h_l_zhu a:hover
{
	color:#FFA500;
}
#h_l_zhu
{
	width:120px;
	height:42px;
}

#h_r_ul,#h_r_ul>li,#h_l
{
	float:left;

}
#h_r_ul>li
{
	margin-right:5px;
	padding-left:5px;
}
#h_r_ul
{
	float:right;
	height:21px;
	padding-top:8px;
	line-height:21px;
}
#h_r_ul li a:hover
{
	color:#f00;
}
#h_r_ul li i
{
	background:url(../images/iconlist.png) no-repeat -69px -132px;
	width:14px;
	height:18px;
	display:inline-block;
	margin:0 4px 0 5px;
}
.weixin
{
	background:url(../images/iconlist.png) no-repeat 0px -110.5px;
	display:inline-block;
	width:45px;
	height:19px;
	margin-top:5px;
	margin-left:-10px;
	cursor:pointer;
}
.h_r_a_z
{
	display:inline-block;
	margin-top:3px;
}
/**************************************弹出框****************************************************/
.h_r_pop
{
	position:absolute;
	left:0px;
	top:25px;
	border:1px solid #ccc;
	box-shadow:0 0 10px #DDD;
	background:#fff;
	z-index:100;
	display:none;
}
#h_r_o_pop	
{
	width:93px;
	/* display:none; */
}
.h_r_o
{
	position:relative;
	border:1px solid transparent;
	
}
#h_r_o_pop li,#h_r_t_pop li,#h_r_f_pop li,#h_r_v_pop li
{
	margin-top:3px;
	padding-left:4px;
}


#h_r_t_pop	
{	
	width:68px;
}

#h_r_a_pop 
{
	width:175px;
	height:90px;	
	padding-top:10px;
	padding-left:15px;
}


#erweima
{
	background:url(../images/iconlist.png) no-repeat -940px -112px;
	width:53px;
	height:72px;
	display:inline-block;
	margin-left:10px;
	cursor:pointer;
	
}
#h_r_a_pop div
{
	float:left;
	
}
/***********************************客户服务弹出框****************************************************/

#h_r_f_pop	
{	
	width:80px;	
}
#h_r_v_pop
{
	width:80px;
	height:120px;
}

/************************nav部分***********************************************/
#navi
{
	overflow:hidden;
	border-bottom:2px solid #01BA98;
	width:100%;
	text-align: center;
	margin:0 auto;
}
#all_ul
{
	width:1200px;
	height:36px;
	line-height:34px;
	margin:0 auto;
}
#all_ul>li
{
	/*margin-right:30px;*/
	width:150px;
	float:left;
}
	
#all_ul li a
{
	font-size:16px;
	font-weight:bold;
	display:block;
}
.special
{
	color:#FD5913;
}
.much:hover
{
	color:#FD5913;
}
#all_product
{
	position:relative;
}





