html{font-family:"微软雅黑",Arial,sans-serif;font-size:12px;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td,b,i,strong{padding:0;margin:0;font-family:Microsoft YaHei,sans-serif,Arial}
body,div{font-family:Microsoft YaHei,sans-serif,Arial}
strong,b{font-weight: normal;}
fieldset,img{border:0}
a{text-decoration:none;color:#000;outline:none}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
.clear:after{
  display:block; 
  content:"clear"; 
  height:0; 
  clear:both;
  visibility:hidden;
}
.clear{zoom:1;}
/**************************************footer********************************************************/
footer {
	/*height:120px;*/
	margin:20px auto;
}
#footer_link {
	overflow:hidden;
	text-align:center;
}
#footer_link li {
	display:inline-block;
}
#footer_link span {
	margin:0 10px;
}
.copy {
	text-align:center;
	margin-top:12px;
	line-height:20px;
}

/****************************新增收货地址*****************************/
.address_mask{
	position: absolute;
      left: 0px;
      top: 0px;
      background-color: rgba(0, 0, 0,0.2);
	width:100%;
	/*display:none;*/
	height:100%;
}
.address_bg{
	width: 500px;
	/*height:200px;*/
	background:#fff;
      margin: 0 auto;
      position: absolute;
      top: 20%;
      left: 32%;
      z-index: 120;
}
.dialog_title{
	background:#eee;
	width:500px;
	height:40px;
	text-align: right;
}
#close{
	width:5%;
	margin:10px;
	cursor: pointer;
}
/*****每条信息*****/
.dialog_item{
	padding:10px 0;
}
.dialog_item label{
	width:100px;
	display:inline-block;
	text-align:right;
}
.dialog_f1{
	display:inline-block;
	width:380px;
	text-align: left;
}
.dialog_f1 input{
	width:300px;
	padding:5px 0;
}

.footer{
	width:100%;
	background:#eee;
	padding:10px 0; 
	/*color:#fff;*/
}