.container{
	width:1200px;
	margin:0 auto;
}
.shop_tabs{
	margin:10px 0;
}
.shop_tabs li{
	float:left;
	font-size:16px;
	padding:10px;
	color:#FD5913;
	margin:0 5px;
	cursor: pointer;
}
.shop_tabs .shop_tabs_cur{
	background:#FD5913;
	color:#fff;
}
/**************************表头head************************************/ 
.shop_head{
	background:#eee;
	padding:10px;
}
.shop_head>div{
	display:inline-block;
	text-align: left;
}
input[type="checkbox"]{
	vertical-align: middle;
}
.shop_h_title{
	width:400px;
}
.shop_h_check,.shop_h_price,.shop_h_total,.shop_h_do{
	width:140px;
}
.shop_h_num{
	width:200px;
}
/************************************购物车商品详情**************************************/
.shop_sec{
	margin:30px 0;
}
.shop_sec_detail{
	border:1px solid #eee;
}
/*店名*/
.shop_sec_detail h4{
	padding:10px;
}
/*商品缩略图 价格 数量 小计等*/
.shop_sec_info{
	padding:10px;
	border-style:solid;
	border-width:2px 1px 0px;
	border-color: #ddd ;
}
.shop_sec_info>div{
	float:left;
}
.shop_sec_checkbox{
	width:50px;
}
.shop_sec_checkbox input{
	vertical-align: middle;
}
.shop_sec_pic,.shop_sec_txt{
	float:left;
}
.shop_sec_pic{
	width:80px;
	height:80px;
	vertical-align: middle;
}
.shop_sec_txt{
	width:340px;
	/*border:1px solid blue;*/
}
.shop_sec_price{
	width:180px;
	text-align: center;
}
/*加减数量*/
.shop_sec_calculator{
	border:1px solid #ddd;
	width:100px;
}
.shop_sec_calculator a{
	display:inline-block;
	width:17px;
}
.shop_sec_calculator input{
	width:50px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:none;
	border-bottom:none;
	text-align: center;
}
.shop_sec_num,.shop_sec_total{
	width:170px;
	text-align: center;
}
.shop_sec_do{
	width:150px;
	text-align: center;
	margin-left:10px;
}
.shop_sec_do a{
	display:block;
	padding:5px;
	cursor: pointer;
}
.shop_sec_do a:hover{
	color:#FD5913;
}
/*foot*/
.shop_foot {
	border:1px solid #eee;
	padding:10px 0;
}
.shop_foot p{
	text-align: right;
	padding:10px;
}
.shop_foot a{
	background-color: #FD5913;
	color:#fff;
	padding:10px 20px;	
	border-radius: 5px;
	margin-left:10px;
}
/****************************************降价商品*************************************/
.shop_reduce{
	display:none;
}
.shop_con{
	/*border:1px solid #eee;*/
}
/*******************************弹框样式**************************************************/
.fullscreen_mask{
	position: absolute;
      left: 0px;
      top: 0px;
      background-color: rgba(0, 0, 0,0.2);
	width:100%;
	/*display:none;*/
	height:100%;
}
.tankuang{
	width: 400px;
	height:200px;
	background:#fff;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      left: 32%;
      z-index: 120;
}
.dialog_title{
	background:#eee;
	width:400px;
	height:40px;
	text-align: right;
}
#close{
	width:5%;
	margin:10px;
	cursor: pointer;
}
.dialog_content{
	text-align: center;
}
.dialog_content h4{
	padding:25px;
	font-size:16px;
}
.dialog_btn a{
	padding:10px 30px;
	display: inline-block;
	/*width:150px;*/
	border:1px solid #FD5913;
	margin:0 10px;
}
.dialog_cancle{
	background:#FD5913;
	color:#fff;
}


.to_pay{
	margin:0 10px;
	padding:10px 20px;
	border-radius: 5px;
	border: 0;
	background:#FD5913;
	color:#fff;
}