

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MiniCheckout</title>
    <link rel="stylesheet" type="text/css" href="../styles/pinus.css">
</head>
<body>
<header>
    <div class="h_content">
        <span></span>
    </div>
</header>
<section class="block">
    <div class="content2">
        <div class="app">
            <!--<span class="iphone"><img src="../img/bgpic.jpg" width="100%" height="auto"></span>-->
            <label class="text_amount">
                <input id="amount" type="text" placeholder="金 额"/>
            </label>

            <div class="ch">
                <span class="up" onclick="wap_pay('upacp_wap')">银联 WAP</span>
                <span class="up" onclick="wap_pay('alipay_wap')">支付宝 WAP</span>
                <span class="up" onclick="wap_pay('bfb_wap')">百度钱包 WAP</span>
                <span class="up" onclick="wap_pay('jdpay_wap')">京东支付 WAP</span>
                <span class="up" onclick="wap_pay('yeepay_wap')">易宝支付 WAP</span>
                <span class="up" onclick="wap_pay('wx_pub')">微信浏览器内公众号支付 WAP</span>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script src="/payPing/dist/pingpp.js" type="text/javascript"></script>
<script>
    function wap_pay(channel) {
        $.ajax({
            url:"{:U('Public/pay')}",
            type:"post",
            data:'',
            dataType:"json",
            success:function(data){
                pingpp.createPayment(data, function(result, err){
                    console.log(result);
                    console.log(err.msg);
                    console.log(err.extra);
                    if (result == "success") {
                        // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
                    } else if (result == "fail") {
                        // charge 不正确或者微信公众账号支付失败时会在此处返回
                    } else if (result == "cancel") {
                        // 微信公众账号支付取消支付
                    }
                });
            },
            error:function(data){
                alert(data);
            }
        })

    }
</script>

</body>
</html>
