<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Vip用户注册</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/mall/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/mall/css/registerVip.css">
<script src="__PUBLIC__/mall/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/mall/js/registerVip.js"></script>
</head>
<body>
	<section>
	    	<div class="thead clear">
	    		<div class="thead_div">
	    			<div class="thead_xuhao">
	    				01
	    			</div>
	    			<div class="thead_txt">
	    				<p class="thead_tit">填写信息提交注册侧</p>
	    				<p class="thead_tip">请确保填写信息真实有效，提交成功后即可登录自然生活服务平台</p>
	    			</div>
	    		</div>
	    		<div class="thead_div">
	    			<div class="thead_xuhao">
	    				02
	    			</div>
	    			<div class="thead_txt">
	    				<p class="thead_tit">登录平台完成认证</p>
	    				<p class="thead_tip">登录平台进行真实信息认证及套餐的订单支付</p>
	    			</div>
	    		</div>
	    		<div class="thead_div thead_current">
	    			<div class="thead_xuhao">
	    				03
	    			</div>
	    			<div class="thead_txt">
	    				<p class="thead_tit">接受奖励认证</p>
	    				<p class="thead_tip">选择不同套餐对应服务并请仔细阅读套餐说明</p>
	    			</div>
	    		</div>
	    	</div>

			<form action = "{:U('vipRegister2')}" method = "post">
				<!--第三步-->
	    		<div class="con_info" style="">

	    			<p><img src="__PUBLIC__/mall/images/dui.png" alt="">
						<if condition = "$info.reg_status eq 1">
							<h3>您的认证信息已提交！请等待认证结果！</h3>
						</if>
						<if condition = "$info.reg_status eq 2">
							<h3>您的认证信息已提通过审核，请支付后登录使用！</h3>
						</if>
					</p>

				<p>认证人员会在两个工作日内对您的信息进行认证,请耐心等待<br>认证结果会发送到您的邮箱或短信通知!请注意查收!</p>

					<p class="zuihou_p">
					<if condition = "$info.reg_status eq 1">
						<a href="{:U('Public/login')}">等待审核</a>
					</if>
					<if condition = "$info.reg_status eq 2">
						<a href="">审核已通过</a>
					</if>
					<if condition = "$info.pay_status eq 0">
						<a href="javascript:;wap_pay('alipay_pc_direct')">立即支付</a>
					</if>
					<if condition = "$info.pay_status eq 1">
						<a href="{:U('Public/login')}">已支付,登录</a>
					</if>

				</p>
	    		</div>
			</form>
	    	</div>

	</section>
</body>
</html>
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script src="/payPing/dist/pingpp.js" type="text/javascript"></script>
<script>
    function wap_pay(channel) {
        $.ajax({
            url:"{:U('Public/pay')}",
            type:"post",
            data:'',
            dataType:"json",
            success:function(data){
                pingpp.createPayment(data, function(result, err){
                    console.log(result);
                    console.log(err.msg);
                    console.log(err.extra);
                    if (result == "success") {
                        // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
                    } else if (result == "fail") {
                        // charge 不正确或者微信公众账号支付失败时会在此处返回
                    } else if (result == "cancel") {
                        // 微信公众账号支付取消支付
                    }
                });
            },
            error:function(data){
                alert(data);
            }
        })

    }
</script>