<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>编辑商品标签</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:U('editLabel')}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">标签名称<span class="check-tips">（输入行为名称）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$data.title}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">跳转页面<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="url" value="{$data.url}">
			</div>
		</div>

		<div class="form-item">
			<input type="hidden" name="id" value="{$data.id}"/>
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
	//Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('Goods/label')}');
</script>
</block>
