<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>


    <section>
        <form action="{:U()}" method="post" class="form-horizontal">
            <div class="container">
                <div class="con_info">
                    <div class="con_1">
                        <p>商品主信息</p>
                        <div class="con_one">
                            <div class="con_item">
                                <label>*商品名称：</label>
                                <div class="con_in">
                                    <input type="text" class="text input-large" name="title" value="{$goods.0.title}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*分类图标：</label>
                                <div class="con_in con_special">
                                    <input type="file" id="upload_picture">
                                    <input type="hidden" name="icon" id="icon" value="{$info['icon']|default=''}"/>
                                    <div class="upload-img-box" style="min-height: 79px;width: 40%;">
                                        <notempty name="info['icon']">
                                        </notempty>
                                        <div class="upload-pre-item"><img src="{$goods.0.thumb}"><input
                                                type="hidden" name="thumb" value="{$goods.0.thumb}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*单价：</label>
                                <div class="con_in">
                                    <input type="text" class="text input-large" name="unit_price"
                                           value="{$goods.0.unit_price}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*套餐：</label>
                                <div class="con_in">
                                    <label class="inline radio"><input type="radio" name="is_package"
                                                                       style="width: 30px;" value="0" checked="true">不是套餐</label>
                                    <label class="inline radio"><input type="radio" name="is_package"
                                                                       style="width: 30px;" value="1">是套餐</label>
                                </div>
                            </div>
                            <if condition="$goods[0]['is_package'] eq 1">
                                <div class="con_item hide" style="display: block;">
                                    <else/>
                                    <div class="con_item hide" style="display: none;">
                            </if>
                            <label>*所属套餐：</label>
                            <div class="con_in">
                                <select name="package_id">
                                    <volist name="package" id="package">
                                        <option value="{$package.id}">{$package.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <if condition="$goods[0]['is_package'] eq 1">
                            <div class="con_item hide" style="display: block;">
                                <else/>
                                <div class="con_item hide" style="display: none;">
                        </if>
                        <label>*套餐价格<span class="check-tips">（所属套餐里面对应的价格）</span>：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="package_price"
                                   value="{$goods.0.package_price}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*所属分类<span class="check-tips">（所属的分类必须是最底层分类）</span>：</label>
                        <div class="con_in">
                            <select name="class_id">
                                <volist name="Menus" id="menu">
                                    <option value="{$menu.id}">{$menu.title_show}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品推荐<span class="check-tips"></span>：</label>
                        <div class="con_in">
                            <label class="inline radio"><input type="radio" name="top" style="width: 30px;" value="0"
                                                               checked="true">不推荐</label>
                            <label class="inline radio"><input type="radio" name="top" style="width: 30px;" value="1">推荐</label>
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品图片<span class="check-tips">（最多五张,,最佳图片比列：800*800）</span>：</label>
                        <div class="con_in">
                            {:hook('UploadImages')}
                            <if condition="$goodsdetail[0]['pic_1'] neq ''">
                                <div class="upload-pre-item1"><img src="{$goodsdetail.0.pic_1}"/></div>
                            </if>
                            <if condition="$goodsdetail[0]['pic_2'] neq ''">
                                <div class="upload-pre-item1"><img src="{$goodsdetail.0.pic_2}"/></div>
                            </if>
                            <if condition="$goodsdetail[0]['pic_3'] neq ''">
                                <div class="upload-pre-item1"><img src="{$goodsdetail.0.pic_3}"/></div>
                            </if>
                            <if condition="$goodsdetail[0]['pic_4'] neq ''">
                                <div class="upload-pre-item1"><img src="{$goodsdetail.0.pic_4}"/></div>
                            </if>
                            <if condition="$goodsdetail[0]['pic_5'] neq ''">
                                <div class="upload-pre-item1"><img src="{$goodsdetail.0.pic_5}"/></div>
                            </if>
                        </div>
                    </div>
                </div>
            </div>

            <div class="con_1">
                <p>商品附属信息</p>
                <div class="con_one">
                    <div class="con_item">
                        <label>*商品名称：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="commodity_name"
                                   value="{$goodsdetail.0.commodity_name}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*品牌：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="brand" value="{$goodsdetail.0.brand}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品净含量：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="net_content"
                                   value="{$goodsdetail.0.net_content}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品产地：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="origin" value="{$goodsdetail.0.origin}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品类型：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="type" value="{$goodsdetail.0.type}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品规格：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="specifications"
                                   value="{$goodsdetail.0.specifications}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*香型：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="flavor" value="{$goodsdetail.0.flavor}">
                        </div>
                    </div>
                    <div class="con_item">
                        <label style="       vertical-align: top;">*售后保障：</label>
                        <div class="con_in">
                            <label class="textarea" style="width: 500px;">
                                <textarea name="describe" style="height: 265px">{$goodsdetail.0.describe}</textarea>
                            </label>
                        </div>
                    </div>
                    <div class="con_item">
                        <label style="       vertical-align: top;">*商品介绍：</label>
                        <div class="con_in">
                            <label class="textarea" style="width: 500px;    height: auto;">
                                <textarea name="introduce">{$goodsdetail.0.introduce}</textarea>
                                {:hook('adminArticleEdit',
                                array('name'=>'introduce','value'=>$goodsdetail['0']['introduce']))}
                            </label>
                        </div>
                    </div>
                    <div class="con_item">
                        <label>*商品库存：</label>
                        <div class="con_in">
                            <input type="text" class="text input-large" name="goods_num"
                                   value="{$goodsstock.0.goods_num}">
                        </div>
                    </div>

                    <div class="con_item">
                        <div class="form-item">
                            <input type="hidden" name="detail_id" value="{$goodsdetail.0.id}">
                            <input type="hidden" name="stock_id" value="{$goodsstock.0.id}">
                            <input type="hidden" name="id" value="{$goods.0.id}">
                            <button class="btn submit-btn ajax-post" id="submit" type="submit"
                                    target-form="form-horizontal">确 定
                            </button>
                            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            </div>
        </form>
    </section>

    </form>
</block>

<block name="script">

    <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture").uploadify({
            "height": 30,
            "swf": "__STATIC__/uploadify/uploadify.swf",
            "fileObjName": "download",
            "buttonText": "上传图片",
            "uploader": "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width": 120,
            'removeTimeout': 1,
            'fileTypeExts': '*.jpg; *.png; *.gif;',
            "onUploadSuccess": uploadPicture,
            'onFallback': function () {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadPicture(file, data) {
            var data = $.parseJSON(data);
            var src = '';
            if (data.status) {
                $("#icon").val(data.id);
                src = data.url || '__ROOT__' + data.path;
                $("#icon").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/><input type="hidden" name="thumb" value="' + src + '"/></div>'
                );
            } else {
                updateAlert(data.info);
                setTimeout(function () {
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled', false);
                }, 1500);
            }
        }

        $('.radio').change(function () {
            if ($("input[type='radio']:checked").val() == 1) {
                $(".hide").show('10000');
            } else {
                $(".hide").hide('10000');
                $("input[name='package_id']").value = '';
                $("input[name='package_price']").val('');
            }
        });


        Think.setValue("is_package", {$goods[0]['is_package'] |default = 0
        })
        ;
        Think.setValue("package_id", {$goods[0]['package_id'] |default = 0
        })
        ;
        Think.setValue("class_id", {$goods[0]['class_id'] |default = 0
        })
        ;
        Think.setValue("top", {$goods[0]['top'] |default = 0
        })
        ;

        //导航高亮
        highlight_subnav('{:U('
        index
        ')}'
        )
        ;
    </script>
</block>