<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>新增收货地址</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <input type = "hidden" name="id" value="{$data.id}">
        <div class="form-item">
            <label class="item-label">收货人姓名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="{$data.username}" required>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">收货人手机号<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="phone" value="{$data.phone}" required>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">选择地区：<span class="check-tips"></span></label>
            <div class="controls">
                <select class="sheng" name = "province_id" required>
                    <option value = "">--请选择省--</option>
                    <volist name="list" id = "vo">
                        <option value = "{$vo.id}"  <if condition = "$data.province_id eq $vo.id ">selected</if>>{$vo.name}</option>
                    </volist>
                </select>
                <select class="shi" name = "city_id" required>
                    <option value = "{$data.city_id}">{$data.city_name}</option>
                </select>
                <select class="qu" name = "district_id" required>
                    <option value = "{$data.district_id}">{$data.district_name}</option>
                </select>
                <script>
                    $('.sheng').change(function(){
                        $.post('/Admin/Public/shi',{upid:$('.sheng option:selected').val()},function(data){
                            $('.shi').html(data);
                        })
                    });

                    $('.shi').change(function(){
                        $.post('/Admin/Public/xian',{upid:$('.shi option:selected').val()},function(data){
                            $('.qu').html(data);
                        })
                    })
                </script>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">详细地址<span class="check-tips">（写到门牌号）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="address" value="{$data.address}">&nbsp;&nbsp;
                <input type="checkbox"  name="status" value="1" <if condition ="$data.status eq 1 ">checked</if>>设置默认
            </div>
        </div>

        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Center/addressAdd')}');
    </script>
</block>
