<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>用户充值列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <!--<a class="btn" href="{:U('User/add')}">新 增</a>-->
            <if condition = "$type neq 1">
            <a  class="btn" href="javascript:;wap_pay('500')">充值500元</a>
            <a  class="btn" href="javascript:;wap_pay('1000')">充值1000元</a>
            <a  class="btn" href="javascript:;wap_pay('2000')">充值2000元</a>
            <a  class="btn" href="javascript:;wap_pay('5000')">充值5000元</a>
            <a  class="btn" href="javascript:;wap_pay('10000')">充值10000元</a>
            <a  class="btn" href="javascript:;wap_pay('20000')">充值20000元</a>
            <a  class="btn" href="javascript:;wap_pay('50000')">充值50000元</a>
            </if>
        </div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <!--<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">-->
                <!--<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>-->
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th>用户账号</th>
                <th class="">充值金额</th>
                <th class="">充值时间</th>
                <th class="">状态</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                        <td>{$vo.id} </td>
                        <td>{$vo.username} </td>
                        <td>{$vo.score} </td>
                        <td><span>{$vo.created|time_format}</span></td>
                        <td>充值成功</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script src="/payPing/dist/pingpp.js" type="text/javascript"></script>
    <script type="text/javascript">
        function wap_pay(channel) {
            $.ajax({
                url: "{:U('Center/pay')}",
                type: "post",
                data: 'score='+channel,
                dataType: "json",
                success: function (data) {
                    pingpp.createPayment(data, function (result, err) {
                        console.log(result);
                        console.log(err.msg);
                        console.log(err.extra);
                        if (result == "success") {
                            // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
                        } else if (result == "fail") {
                            // charge 不正确或者微信公众账号支付失败时会在此处返回
                        } else if (result == "cancel") {
                            // 微信公众账号支付取消支付
                        }
                    });
                },
                error: function (data) {
                    alert(data);
                }
            })

        }

        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav('{:U('
        Center / recharge
        ')}'
        )
        ;
    </script>
</block>
