<extend name="Public/base"/>
<block name="body">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/registerVip.css">
    <div class="main-title">
        <h2>vip用户详情</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <input type = "hidden" name="uid" value="{$data.uid}">

        <section>
            <div class="container">
                <div class="con_info">
                    <div class="con_1">
                        <p>账号信息</p>
                        <div class="con_one">
                            <div class="con_item">
                                <label>*手机号：</label>
                                <div class="con_in">
                                    <input type="text" value = "{$data.username}" placeholder="请填写您的手机号码，方便接收订单通知">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*唯一编码：</label>
                                <div class="con_in con_special">
                                    <input type="text" value = "{$data.vip_code}" placeholder="编码与身份为终身绑定，请记住编码">

                                </div>
                            </div>
                            <div class="con_item">
                                <label>*推荐编码：</label>
                                <div class="con_in con_special">
                                    <input type="text" placeholder="选填" value = "{$data.pid_code}">
                                    <input type="button" value="关联" id="pid_code" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="con_1">
                        <p>个人信息<span>（以下信息仅用于用户跟您联系时使用，准确完整有助于获得更多订单）</span></p>
                        <div class="con_one">
                            <div class="con_item">
                                <label>*昵称：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请使用中文，方便用户联系" value="{$data.nickname}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*姓名：</label>
                                <div class="con_in" >
                                    <input type="text" placeholder="请填写完整真实姓名" value="{$data.user_name}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*电话：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请输入电话方便与您联系" value="{$data.telphone}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*QQ：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="" value="{$data.qq}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*邮箱：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请填写您的邮箱" value="{$data.email}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*所在地：</label>
                                <div class="con_in">
                                    <div class="info">
                                        <div> <input type="text" placeholder="请输入您的详细地址" value="{$data.province_name}--{$data.city_name}--{$data.district_name}"></div>
                                        <div id="show"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*详细地址：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请输入您的详细地址" value="{$data.address}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*证件类型：</label>
                                <div class="con_in">
                                        <if condition = "$data.document_type eq 1">身份证</if>
                                        <if condition = "$data.document_type eq 2">港澳证</if>
                                        <if condition = "$data.document_type eq 3">护照</if>
                                </div>
                            </div>
                            <div class="con_item">
                                <label style="opacity:0">*证件信息：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="详细身份信息" value="{$data.document_number}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="con_1">
                        <p>银行信息<span>（以下信息将彰显您的服务技能专业和权威，展现在您的个人主页中）</span></p>
                        <div class="con_one">
                            <div class="con_item">
                                <label>开户名：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请输入您的真实姓名" value="{$data.card_name}">
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*开户行：</label>
                                <div class="con_in">
                                   {$data.card_blank}
                                </div>
                            </div>
                            <div class="con_item">
                                <label>*支行名称：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请输入支行名称" value="{$data.card_blance_blank}">
                                </div>
                            </div>

                            <div class="con_item">
                                <label>*银行卡号：</label>
                                <div class="con_in">
                                    <input type="text" placeholder="请输入您的银行卡号" value="{$data.card_num}">
                                </div>
                            </div>
                            <!--<div class="con_item">-->
                                <!--<label>*套餐类型：</label>-->
                                <!--<div class="con_in">-->
                                    <!--<input type="text" value="{$data.package_name}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="con_item">
                                <label>*上传身份证图：</label>
                                <div class="con_in">
                                    <img src = "{$data.id_num_thumb}" style = "width:100px;height:100px;">
                                </div>
                            </div>

                            <if condition = "$type eq 1">
                            <div class="con_item">
                                <label>*审核状态：</label>
                                    <input type="radio" name="reg_status" value="-1" <if condition = "$data.reg_status eq -1">checked</if>>审核不通过&nbsp;
                                    <input type="radio" name="reg_status" value="0" <if condition = "$data.reg_status eq 0">checked</if>>基本信息已提交&nbsp;
                                    <input type="radio" name="reg_status" value="1" <if condition = "$data.reg_status eq 1">checked</if>>身份证信息已提交&nbsp;
                                    <input type="radio" name="reg_status" value="2" <if condition = "$data.reg_status eq 2">checked</if>>审核通过&nbsp;
                            </div>

                            <div class="con_item">
                                <label>*支付态：</label>

                                    <input type="radio" name="pay_status" value="0" <if condition = "$data.pay_status eq 0">checked</if>>未支付&nbsp;
                                <input type="radio" name="pay_status" value="1" <if condition = "$data.pay_status eq 1">checked</if>>已支付&nbsp;
                            </div>
                            <div class="con_item">
                                <div class="form-item">
                                    <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                                </div>
                            </div>
                            </if>

                        </div>
                    </div>
                </div>

            </div>
        </section>



    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
