<extend name="Public/base"/>
<block name="body">
	<form action="{:U()}" method="post" class="">
		<input type="hidden" name="id" value="{$data.id}">

		<section>
			<div class="container">
				<div class="con_info">
					<div class="con_1">
						<p>添加物流</p>
						<div class="con_one">
							<div class="con_item">
								<label>*订单号：</label><input type="hidden" name="order_code" value="{$data.order_code}">
								<div class="con_in">
									{$data.order_code}
								</div>
							</div>
							<div class="con_item">
								<label>*选择物流：</label>
								<div class="con_in">
									<select name="logistics" class="selector">
										<option value="">请选择物流</option>
										<volist name="logistics" id="vo">
											<option value="{$vo.id}">{$vo.code}_{$vo.name}</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="con_item">
								<label>*物流单号：</label>
								<div class="con_in">
									<input type="text" style="width: 200px;" name="number" class="number"  value = "">

								</div>
							</div>

							<div class="con_item">
								<div class="form-item">
									<button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
									<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>



	</form>
</block>

<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('Order/waitingfordelivery')}');

		$(function () {
			$('#submit').click(function() {
				if($(".selector").val() == '') {
					alert('请先选择物流');
					return false;
				}
				if($(".number").val() == '') {
					alert('请先填写物流单号');
					return false;
				}
				return true;
			});
		});
	</script>
</block>
