<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$meta_title}|订单结算</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/mall/css/shoporder.css">
    <script src="__PUBLIC__/mall/js/jquery-1.11.3.js"></script>
    <style>
        .hidden {
            display: none;
        }

    </style>
</head>
<body>
<!-- 头部 -->
<div class="header">
    <!-- Logo -->
    <span class="logo"></span>
    <!-- /Logo -->

    <!-- 主导航 -->
    <ul class="main-nav">
        <volist name="__MENU__.main" id="menu">
            <li class="{$menu.class|default=''}"><a href="{$menu.url|U}">{$menu.title}</a></li>
        </volist>
    </ul>
    <!-- /主导航 -->

    <!-- 用户栏 -->
    <div class="user-bar">
        <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
        <ul class="nav-list user-menu hidden">
            <li class="manager">你好，<em title="{:session('user_auth.username')}">{:session('user_auth.username')}</em>
            </li>
            <li><a href="{:U('User/updatePassword')}">修改密码</a></li>
            <li><a href="{:U('User/updateNickname')}">修改昵称</a></li>
            <li><a href="{:U('Public/logout')}">退出</a></li>
        </ul>
    </div>
    <div class="main-nav" style="float: right;margin-right: 30px;position: relative;"><a href="{:U('Shop/shopcart')}">购物车</a></div>
</div>
<!-- /头部 -->
<!-- 内容区 -->
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
    <div id="main" class="main">
        <block name="nav">
            <!-- nav -->
            <notempty name="_show_nav">
                <div class="breadcrumb">
                    <span>您的位置:</span>
                    <assign name="i" value="1"/>
                    <foreach name="_nav" item="v" key="k">
                        <if condition="$i eq count($_nav)">
                            <span>{$v}</span>
                            <else/>
                            <span><a href="{$k}">{$v}</a>&gt;</span>
                        </if>
                        <assign name="i" value="$i+1"/>
                    </foreach>
                </div>
            </notempty>
            <!-- nav -->
        </block>

        <block name="body"></block>
    </div>
</div>

<block name="script"></block>
</body>
</html>


<block name="sidebar"></block>

<block name="style">
    <style>
        body {
            padding: 0
        }
    </style>
</block>

<block name="body">
    <div id="indexMain" class="index-main">
        <div class="con_info">
            <h3>填写并核对订单信息</h3>
            <form action="" method="POST">
                <div class="con_address">
                    <div class="con_add_detail" style="padding-left: 20px;">
                        <p class="con_add_title">收货人信息<a href="{:U('Center/addressIndex')}" target="_blank"
                                                         class="append_add">新增收货地址</a>(新增完毕请刷新页面)</p>
                        <volist name="_list" id="vo" key="k">

                            <p class="con_add_add">
                                <input type="radio" name="address" style="vertical-align: middle;" <if condition="$k eq 1">checked</if> value="{$vo.id}">
                                {$vo.username} {$vo.phone}
                                {$vo.province_name}{$vo.city_name}{$vo.district_name}{$vo.address}<span>{$vo.status_text}</span>
                            </p>
                        </volist>
                    </div>
                </div>
                <div class="con_shop_list">
                    <h4>确认订单信息</h4>
                    <div class="con_shop_head">
                        <div class="shop_h_title">商品</div>
                        <div class="shop_h_price">单价</div>
                        <div class="shop_h_num">数量</div>
                        <div class="shop_h_total">小计</div>
                    </div>
                    <notempty name="_goods_list">
                        <volist name="_goods_list" id="vo">
                            <div class="shop_sec_info clear ">
                                <div class="shop_sec_mes clear">
                                    <div class="shop_sec_pic">
                                        <img src="{$vo.goods.thumb}" alt="" style="width: 100px;">
                                    </div>
                                    <div class="shop_sec_txt">
                                        <p>{$vo.goods.title}</p>
                                    </div>
                                </div>
                                <div class="shop_sec_price">
                                    {$vo.goods.unit_price}
                                </div>
                                <div class="shop_sec_num">
                                    {$vo.goods_num}
                                </div>
                                <div class="shop_sec_total">
                                    {$vo.goods_price}
                                </div>
                            </div>
                        </volist>
                        <else/>
                    </notempty>
                    <notempty name="_package_list">
                        <volist name="_package_list" id="vo">
                            <div class="shop_sec_info clear ">
                                <div class="shop_sec_mes clear">
                                    <div class="shop_sec_pic">
                                        <img src="{$vo.goods.thumb}" alt="" style="width: 100px;">
                                    </div>
                                    <div class="shop_sec_txt">
                                        <p>{$vo.goods.title}</p>
                                    </div>
                                </div>
                                <div class="shop_sec_price">
                                    {$vo.goods.unit_price}
                                </div>
                                <div class="shop_sec_num">
                                    {$vo.goods_num}
                                </div>
                                <div class="shop_sec_total">
                                    {$vo.goods_price}
                                </div>
                            </div>
                        </volist>
                        <else/>
                    </notempty>
                    <div class="con_shop_foot">
                        <p>实付金额：{$_goods_order.0.total}<input type="hidden" name="order_code"
                                                              value="{$_goods_order.0.order_code}"><input class="to_pay"
                                                                                                          type="submit"
                                                                                                          value="结算订单">
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>
<!-- <div class="fullscreen_mask">
    <div class="tankuang">
        <div class="dialog_title">
            <img id="close" src="images/close.png" alt="">
        </div>
        <div class="dialog_content">
            <h4>确定要删除商品吗？</h4>
            <p class="dialog_btn"><a href="javascript:;" class="dialog_true">确定</a><a href="javascript:;" class="dialog_cancle">取消</a></p>
        </div>

    </div>
</div> -->
<script>
    $(".user-entrance").hover(function () {
        $(".user-entrance").next().removeClass("hidden");
    }, function () {
        $(".user-menu").hover(function () {
            $(".user-menu").removeClass("hidden");
        }, function () {
            $(".user-menu").addClass("hidden");
        })
        $(".user-entrance").next().addClass("hidden");
    });
</script>


<link href="__PUBLIC__/kefu/css/style.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="__PUBLIC__/kefu/js/jquery-1.8.3.min.js"></script>
<script>
    /*---------返回顶部----------*/
    $(function() {
        $(".btn_top").hide();
        $(".btn_top").live("click",function(){
            $('html, body').animate({scrollTop: 0},300);return false;
        })
        $(window).bind('scroll resize',function(){
            if($(window).scrollTop()<=300){
                $(".btn_top").hide();
            }else{
                $(".btn_top").show();
            }
        })
    })


    $(".user-entrance").hover(function(){
        $(".user-entrance").next().removeClass("hidden");
    },function(){
        $(".user-menu").hover(function(){
            $(".user-menu").removeClass("hidden");
        },function(){
            $(".user-menu").addClass("hidden");
        })
        $(".user-entrance").next().addClass("hidden");
    });

    /*---------返回顶部 end----------*/
</script>


<!--qq聊天代码部分begin-->
<div class="izl-rmenu">
    <a class="consult" target="_blank"><div class="phone" style="display:none;">010-1234567</div></a>
    <!--<a class="cart"><div class="pic"></div></a>-->
    <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
</div>
<a target="_blank"  href="http://wpa.qq.com/msgrd?v=3&uin=652290625&site=qq&menu=yes" id="udesk-feedback-tab" class="udesk-feedback-tab-left" style="display: block; background-color: black;"></a>
<!--qq聊天代码部分end-->
</body>
</html>